nav {
  color: white;
}

nav a {
  color: white;
}

footer {
  text-align: center;
}

.card {
  border: none;
  background-color: none;
}

.project-card {
  width: 70rem;
  align-self: center;
}

.project-img {
  height: 100%;
}

.project-title {
  text-align: center;
}

.contact-header {
  width: 20%;
}

.contact a {
  color: black;
}

#projects a {
  color: white;
}
