/* universal selectors */
body {
  /* background-image: url(../Images/repeated-square-dark.png);
  background-color: white; */
  background: rgb(4, 3, 27);
  background: linear-gradient(
    180deg,
    rgba(4, 3, 27, 1) 0%,
    rgba(8, 22, 99, 1) 30%,
    rgba(166, 25, 124, 1) 100%
  );
  color: white;
}
nav {
  color: white;
}

nav a {
  color: white;
}

footer {
  text-align: center;
}

/* class selectors */

.glow {
  
}
.heading {
  font-family: "Kanit", sans-serif;
}
.card {
  border: none;
  background-color: none;
}
.about-card {
  background-color: none;
}
.project-card {
  width: 70rem;
  align-self: center;
}

.project-img {
  height: 100%;
}

.project-title {
  text-align: center;
}

.contact {
  color: white;
}
.contact-header {
  width: 20%;
}

.contact a {
  color: white;
}

/* id selectors */
#projects a {
  color: white;
}
