body {
  background-image: url(../Images/repeated-square-dark.png);
  background-color: white;
}
nav {
  color: white;
}

nav a {
  color: white;
}

footer {
  text-align: center;
}

.heading {
  font-family: "Montserrat Alternates", sans-serif;
}
.card {
  border: none;
  background-color: none;
}
.about-card {
  background-color: white;
}
.project-card {
  width: 70rem;
  align-self: center;
}

.project-img {
  height: 100%;
}

.project-title {
  text-align: center;
}

.contact {
  color: white;
}
.contact-header {
  width: 20%;
}

.contact a {
  color: white;
}

#projects a {
  color: black;
}
